body{
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
}
.startpage{
    margin-top: 50px;
    padding: 100px;
    border-radius: 100px;
    width: 500px;
    height: auto;
    background-color: rgb(212, 187, 170);
    box-shadow: 10px 10px 10px rgb(126, 78, 47);
    animation: glow 0.5s alternate 2;
}
@keyframes glow {
    100% { width: 510px;
        box-shadow: 20px 20px 30px rgb(126, 78, 47);}
}
.choicespage{
    margin-top: 50px;
    padding: 100px;
    border-radius: 100px;
    width: 300px;
    height: auto;
    background-color: rgb(212, 187, 170);
    box-shadow: 10px 10px 10px rgb(126, 78, 47);
    animation: glow2 0.5s alternate 2;
}

@keyframes glow2 {
    100% { width: 310px;
        box-shadow: 20px 20px 30px rgb(126, 78, 47);}
}

.searchpage{
    margin-top: 50px;
    padding: 100px;
    border-radius: 100px;
    width: 500px;
    height: auto;
    background-color: rgb(212, 187, 170);
    box-shadow: 10px 10px 10px rgb(126, 78, 47);
    animation: glow 0.5s alternate 2;
}


label{
    position: relative;
    margin-top: 10px;
    font-size: 60px;
}

#lessonNumOrTitleOrTags{
    padding-left: 10px;
    width: 450px;
    border: 0px;
    font-size: 20px;
    border-radius: 100px;
    font-family: 'Courier New', Courier, monospace;
}

button.enter_btn{
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    color:antiquewhite;
    font-size: 35px;
    background-color: rgb(126, 78, 47) ;
    border: 0;
    border-radius: 50px;
    width: 155px;
    height: auto;
}

.back_btn{
    font-family: 'Courier New', Courier, monospace;
    color:antiquewhite;
    font-size: 30px;
    background-color: rgb(126, 78, 47) ;
    border: 0;
    border-radius: 50px;
    width: 155px;
    height: auto;
}


span.enter_btn{
    font-family: 'Courier New', Courier, monospace;
    color:antiquewhite;
    font-size: 30px;
    background-color: rgb(126, 78, 47) ;
    border-radius: 50px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
}

button.b1{
    position: relative;
    top: 20px;
    left: 20px;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    color:antiquewhite;
    font-size: 30px;
    background-color: rgb(126, 78, 47) ;
    border: 0;
    border-radius: 100px;
    width: 250px;
    height: auto;
}


button.btnResult{
    margin-top: 10px;
    margin-left: 30px;
    font-family: 'Courier New', Courier, monospace;
    color:antiquewhite;
    font-size: 25px;
    background-color: rgb(126, 78, 47) ;
    position: relative;
    border: 0;
    border-radius: 50px;
    width: auto;
    height: auto;
}
div.resultBtn{
    padding: 50px;
    border-radius: 100px;
    background-color: whitesmoke;
    position: relative;
    top: 50px;
    width: 400px;
    height: auto;
}