body{
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
}
.LogInpage{
    position: relative;
    margin-top: 20px;
    left: 30px;
    padding: 10%;
    border-radius: 100px;
    width: 350px;
    height: auto;
    background-color: rgb(212, 187, 170);
    box-shadow: 10px 10px 10px rgb(126, 78, 47);
    animation: glow 0.5s alternate 2;
}
@keyframes glow{
    100% {box-shadow: 30px 30px 50px rgb(87, 50, 50); 
        width: 351px; 
        height: auto + 10px;}
}

label.Login{
    position: relative;
    margin-top: 10px;
    font-size: 80px;
}
.LogInForm{
    display: flex;
    flex-direction: column;
}
.Username_Password{
    margin-bottom: 10px;
    padding-left: 10px;
    width: 100px;
    border: 0;
    border-radius: 100px;
}
button{
    font-family: 'Courier New', Courier, monospace;
    color:antiquewhite;
    font-size: 20px;
    background-color: rgb(126, 78, 47) ;
    border: 0;
    border-radius: 50px;
    width: 100px;
    height: auto;
}
.usrnm_pswd{
    font-size: 20px;
}