body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #dda459;
}
.choicespage{
    transform: translateX(70%);
    margin-top: 100px;
    padding: 10%;
    position: relative;
    border-radius: 100px;
    width: 40vh;
    height: 10vh;
    background-color: rgb(196,145,78);
    align-items:center;
    box-shadow: 10px 10px 10px rgb(126, 78, 47);
    animation: glow 1s infinite alternate;
}
label{
    margin-top: 10px;
    font-size: 50px;
}

button{
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    color:antiquewhite;
    font-size: 25px;
    background-color: rgb(126, 78, 47) ;
    border: 0;
    border-radius: 100px;
    width: 250px;
    height: auto;
}
@keyframes glow{
    100% {box-shadow: 30px 30px 50px rgb(87, 50, 50);}
}
