body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #b47f38;
}
.startpage{
    transform: translateX(50%);
    margin-top: 100px;
    padding: 20px;
    position: relative;
    border-radius: 100px;
    width: 40vh;
    height: 20vh;
    background-color: rgb(131,75,36);
    align-items:center;
    box-shadow: 10px 10px 10px rgb(126, 78, 47);
    animation: glow 1s infinite alternate;
}
label{
    margin-top: 10px;
    font-size: 50px;
}

button{
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    color:antiquewhite;
    font-size: 25px;
    background-color: rgb(126, 78, 47) ;
    position: relative;
    border: 0;
    border-radius: 100px;
    width: auto;
    height: auto;
}
@keyframes glow{
    100% {box-shadow: 30px 30px 50px rgb(87, 50, 50);}
}
